.filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputFilter {
  height: 25px;
}

.inputFilter:hover {
  border: 2px solid blue;
  cursor: pointer;
}

.inputFilter:focus {
  box-shadow: 0 0 20px rgba(251, 0, 255, 0.5);
  background-color: rgba(245, 241, 145, 1);
  cursor: auto;
}
.filterLabel {
  /* text-align: center; */
  font-style: italic;
}
