/* .nav {
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
} */

.homeBtn:hover {
  color: #fff;
  background-color: #8997ef;
}

.contactsBtn:hover {
  color: #fff;
  background-color: #8997ef;
}
