.userMenu {
  display: flex;

  gap: 30px;

  /* background-color: green; */
}

.userText,
.emailText {
  font-weight: bold;
  font-style: italic;
  padding-top: 7px;
}

@media (max-width: 599px) {
  .userMenu {
    flex-direction: row;
    align-items: center;
  }

  .userText {
    margin-bottom: 0.5rem;
  }

  .emailText {
    display: none;
  }
}
@media (max-width: 399px) {
  .userMenu {
    flex-direction: row;
    align-items: center;
  }

  .userText {
    display: none;
  }

  .emailText {
    display: none;
  }
}
